html,
body {
  width: 100%;
  height: 100%;
}

.temp-home {
  background: url(/images/temp-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -175px;
  margin-top: -55px;

  h1 {
    font-weight: 300;
    @include hidden_accessible;
  }
}

.guardian-logo-svg {
  width: 350px;
}